bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
node_modules/
.configure.bazelrc
.user.bazelrc
.DS_Store
.vscode

mediapipe/calculators/tensor/onnxruntime/include
mediapipe/calculators/tensor/onnxruntime/lib
